@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// ADD BACKGROUND IMAGES TO HTML


.card {
    height: 100%;
    width: 22rem;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    font-size: .94rem;
}

section {
    margin: 1.25rem 0;
}

/* OVERVIEW STYLES */

#overview {
    text-align: center;
    

    h1 {
        color: $dark-magenta;
        font-size: 2rem;
        margin: 1.25rem 0;
    }

    p {
        color: $grayish-magenta;
        padding: .15rem; 
        line-height: 1.5rem;
    }
}


/* STAR RATING STYLES */

#star-ratings {
    .rating {
        background: $light-grayish;
        text-align: center;
        padding: .75rem;
        margin-bottom: 1rem;
        border-radius: .5rem;

        .stars {
            padding-bottom: .75rem;
    
            img {
                margin: 0 .1rem;
            }
        }

        .rating-description {
            color: $dark-magenta;
            font-weight: 700;
        }
    }

    
}


/* BUYER REVIEW STYLES */

#buyer-reviews {
    .review {
        background: $dark-magenta;
        color: white;
        padding: 2rem;
        margin: 1rem 0;
        border-radius: .5rem;

        .buyer {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            
            img {
                border-radius: 50%;
                height: 3rem;
                padding-right: 1.5rem;
            }

            .buyer-details {
                display: flex;
                flex-direction: column;

                .name {
                    font-weight: 700;
                    margin-bottom: .4rem;
                }

                .verification {
                    font-weight: 400;
                    font-size: .88rem;
                    color: $soft-pink
                }
            }
        }
    }

    .review-text {
        line-height: 1.5rem;
        font-size: .87rem;
    }
}








/* RESPONSIVE STYLES */

@media only screen and (min-width: 1440px) {
    .card {
        grid-template-columns: 1fr 1fr;

    }
}




.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
      }
  }